/*background takes up the entire page*/

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: '#70bg32';
    background-repeat: no-repeat;
    background: linear-gradient( to bottom, #634c68 0, rgba(99, 76, 104, .98) 1%, rgba(99, 76, 104, .34) 41%, rgba(52, 200, 192, .34) 67%, #34c8c0 100%);
}

.root {
    float: right;
    margin: 6px 0 0;
}

.link {
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none;
    font-size: 1.125em;
    /* ~18px */
}

.link,
.link:active,
.link:visited {
    color: rgba(255, 255, 255, 0.6);
}

.link:hover {
    color: rgba(255, 255, 255, 1);
}

.highlight {
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.15);
    color: #fff;
}

.highlight:hover {
    background: rgba(0, 0, 0, 0.3);
}

.spacer {
    color: rgba(255, 255, 255, 0.3);
}